/*  beeg screen */
@media screen and (max-width: 10000px) {

  }
  /* medium */
  @media screen and (max-width: 880px) {
    .content-to-hide {
      display: none;
    }

  }
  /*  small screen */
  @media screen and (max-width: 600px) {
    #bootstrap-overrides .container-lg {
      width: 100%;
    }
    .header {
      border: none;
    }
  }
  .container-lg {
    flex-wrap: wrap;
    height: fit-content;
  }
  
  .resume{
    width: 882px;
    padding: 20px;
  }
  
  section {
    height: fit-content;
  }
  
  /* Darkmode */
  body.DarkToLight h1,
  body.DarkToLight h2,
  body.DarkToLight p {
    color: var(--dark);
  }