@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
}

/* HEADER */

#mountain {
  filter: blur(1px);
}

.about-me {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: repeat(auto-fit);
  justify-content: center;
  height: 300px;
}
.techList{
  width: 400px;
  flex-wrap: wrap;
  height: 200px;
}
/* beeg screen
@media screen and (max-width: 10000px) {
    .header {
      height: 100vh;
      position: relative;
      overflow: hidden;
    }
  
    .headerBox {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      margin-left: 0;
      margin-top: 3vh;
    }
  
    .bento1 {
      padding: 20px;
      grid-column: span 2;
    }
  
    .bento2 {
      grid-column: span 1;
      max-height: 350px;
    }
  
    .bento4 {
      grid-column: span 2;
      width: 100%;
      min-height: 200px;
    }
  
    .col-3 {
      height: 210px;
      margin-top: 20px;
      min-width: 100px;
      max-width: 190px;
      flex-grow: 1;
    }
    
    #process{
      flex-wrap: nowrap;
    }
  
    .container-lg {
      position: relative;
    }
  
    #bootstrap-overrides h4 {
      margin-top: 0;
    }
  }
  
  /* medium */
/* @media screen and (max-width: 1000px) {
    .content-to-hide {
      display: none;
    }
  
    #bootstrap-overrides .headerBox {
      grid-template-areas: "scroll" "greeting";
      margin-left: 3vw !important;
    }
  
    #bootstrap-overrides h2 {
      margin-top: none;
    }
  
    .bento {
      grid-template-columns: auto;
      grid-auto-flow: row;
      padding-top: 20px;
      padding-bottom: 20px;
      height: 1000px;
    }
  
    .bento2 {
      grid-column: span 1;
      max-height: 300px;
    }
  
    .bento1 {
      grid-column: span 3;
      padding: 20px;
      height: 400px;
      min-height: 470px;
    }
  
    .bento3 {
      grid-column: span 2;
    }
  
    .bento4 {
      grid-column: span 3;
      max-height: 350px;
      height: 260px;
      min-height: 200px;
    }
    .col-3{
      margin-top: 10px;
      height: 210px;
      width: 22vw;
      min-width: 22vw;
    }
  
    .textDeco,
    .textDecoLeft {
      margin-top: none;
    }
  
    #bg {
      height: 100%;
    }
  } */

/*  small screen */
/* @media screen and (max-width: 600px) {
    #bootstrap-overrides .container-lg {
      width: 100%;
    }
  
    #bootstrap-overrides .container {
      width: 100%;
    }
  
    .about-me {
      min-height: 400px;
      height: fit-content;
      grid-template-columns: 100%;
      grid-template-rows: repeat(auto-fit);
    }
  
    .card {
      width: fit-content;
    }
  
    #bootstrap-overrides .headerBox {
      margin-left: 0 !important;
    }
    .bento{
      height: 1600px;
    }
    .bento1 {
      height: 400px;
    }
  
    .bento2 {
      grid-column: span 2;
    }
    .bento3 {
      grid-column: span 1;
    }
    .bento4 {
      min-height: 450px;
    }
    .col-3{
      margin-top: 10px;
      height: 180px;
      width: 42vw;
      min-width: 42vw;
    }
    #process{
      flex-wrap: wrap;
      width: 100%;
    }
    .header {
      border: none;
    }
  
    .rect {
      margin-left: auto;
      margin-right: auto;
    }
  
    .scroll {
      margin-left: auto;margin-right: auto;
      max-width: 500px;
      min-width: 370;
      grid-area: scroll;
    }
  
    .skill {
      margin-top: 0;
    }
  
    #customBG section {
      border-left: none;
      border-right: none;
      background-color: rgba(245, 245, 245, 0.389);
      backdrop-filter: blur(5px);
    }
  
    #velocity {
      padding: 0;
    } */
.container-lg {
  flex-wrap: wrap;
  height: fit-content;
}

.wrappertitle {
  max-width: fit-content;
  top: 20vh;
  z-index: 2;
  grid-area: fun;
}

#cardText {
  font-size: 4rem;
}

.rect {
  width: 350px;
  min-height: 300px;
  height: 300px;
  border-radius: 0 80px 80px 80px;
}

.cardHole {
  width: 1vw;
  height: 2vh;
  z-index: 3;
}

#avatar {
  width: 300px;
}

.bento {
  height: fit-content;
  padding: 20px;
}

.bento2 {
  max-width: 300px;
}

.bento3 {
  height: 300px;
  max-height: 300px;
  background-image: url(../img/flower.webp);
  max-width: 400px;
  width: 100%;
  background-size: cover;
  background-position: bottom;
}

.bento4 {
  overflow-wrap: normal;
}

.onlineBar {
  margin-left: 10px;
  height: 31px;
  width: 100px;
}

.greenCircle {
  width: 15px;
  height: 15px;
  background-color: green;
}

.onlineBar:hover > .greenCircle {
  background-color: var(--orange);
}

.onlineBar > p {
  font-family: "Rainy Hearts";
}

.onlineBar:hover > p {
  color: var(--orange);
}

.col-3 {
  overflow: hidden;
  background-color: var(--dark);
}

li {
  font-size: 1.5rem;
  list-style: none;
}

.projects {
  height: fit-content;
}

.case {
  height: fit-content;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: center;
}

.list {
  display: inline;
  width: 80%;
}

.right-box {
  height: fit-content;
  overflow: hidden;
  align-self: center;
}

.tag {
  margin-top: 5px;
  margin-left: 5px;
  font-family: "Rainy Hearts";
  font-size: 1.5rem;
}

.tag:hover {
  color: var(--orange);
}

.techLogo {
  width: 50px;
}

.socLogo {
  width: 40px;
}

.tech {
  width: 80px;
  height: 80px;
  margin-left: 5px;
  margin-top: 5px;
  background-color: var(--light);
  font-size: 1.25rem;
  display: inline-block;
}

.textDeco {
  margin-left: 10vh;
}

.textDecoLeft {
  margin-right: 10vh;
}

.flex2 {
  border-left: 0;
  border-right: 0;
}

.flex3 {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

.button {
  background-color: var(--dark);
  color: var(--light);
  font-size: 1rem;
  text-decoration: none;
}

.button:hover {
  color: var(--light);
}

.proj {
  width: fit-content;
  height: 200px;
}

.flex2:hover:before {
  opacity: 0;
}

section {
  height: fit-content;
  margin-bottom: 60px;
}

/* Darkmode */



/* body.DarkToLight .case {
  border-top: 1px solid var(--dark);
  border-bottom: 1px solid var(--dark);
}
body.DarkToLight .scroller > span {
  color: var(--dark);
}

body.LightToDark .onlineBar:hover > p {
  color: var(--orange);
}
body.LightToDark .onlineBar > p {
  color: var(--dark);
}

body.DarkToLight .cardHole,
body.DarkToLight .rect,
body.DarkToLight .col-3 {
  background-color: var(--light);
}

body.DarkToLight .textDeco,
body.DarkToLight .textDecoLeft,
body.DarkToLight .arrow {
  filter: invert(0);
}

body.DarkToLight .button {
  background-color: var(--light);
  color: var(--dark);
}

#bootstrap-overrides body.DarkToLight .button:hover {
  color: var(--dark);
}

body.DarkToLight .scroller {
  border-left: 0;
  border-right: 0;
} */

/* Scroller styling */
.scroller {
  height: 68px;
  line-height: 4rem;
  position: relative;
  overflow: hidden;
  width: 350px;
  border-left: 0 !important;
  border-right: 0 !important;
}

.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
  font-size: 2.8rem;
  cursor: default;
}

@keyframes slide {
  0% {
    top: 0;
  }

  25% {
    top: -4.2rem;
  }

  50% {
    top: -8rem;
  }

  75% {
    top: -12rem;
  }
}
