@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    margin: 0;
    padding: 0;
}

/* HEADER */

#mountain {
    filter: blur(1px);
}

.about-me {
    grid-template-columns: 40% 60%;
    grid-template-rows: repeat(auto-fit);
    justify-content: center;
}

.wrappertitle {
    max-width: fit-content;
    top: 20vh;
    z-index: 2;
    grid-area: fun;
}

#cardText {
    font-size: 4rem;
}

.rect {
    width: 350px;
    min-height: 300px;
    height: 300px;
    border-radius: 0 80px 80px 80px;
}

.cardHole {
    width: 1vw;
    height: 2vh;
    z-index: 3;
}

#avatar {
    width: 300px;
}

.onlineBar {
    margin-left: 10px;
    height: 30px;
    width: 100px;
}

.greenCircle {
    width: 15px;
    height: 15px;
    background-color: green;
}

.onlineBar:hover > .greenCircle {
    background-color: var(--orange);
}

.onlineBar > p {
    font-family: "Rainy Hearts";
}

.onlineBar:hover > p {
    color: var(--orange);
}

.button {
    font-size: 1rem;
    text-decoration: none;
}

/* Scroller styling */
.scroller {
    height: 68px;
    line-height: 4rem;
    position: relative;
    overflow: hidden;
    border-left: 0 !important;
    border-right: 0 !important;
}

.scroller > span {
    position: absolute;
    top: 0;
    animation: slide 5s infinite;
    font-size: 3rem;
    cursor: default;
}

@keyframes slide {
    0% {
        top: 0;
    }

    25% {
        top: -4.2rem;
    }

    50% {
        top: -8rem;
    }

    75% {
        top: -12rem;
    }
}
