  .info {
    color: var(--dark);
    list-style-type: none;
    line-height: 20px;
    width: 100%;
  }
  
  .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .row1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  
  .row2 {
    width: 100%;
    margin-top: 5%;
    padding-left: 50px;
  }
  
  .persona {
    border-radius: 10px;
    margin-right: 2px;
    width: 27vw;
  }
  
  .col {
    display: flex;
    flex-direction: row;
  }
  
  .frame {
    border-radius: 2%;
  }
  
  article{
    padding: 3%;
  }
  
  .result {
    width: fit-content;
    font-size: 1.2rem;
    z-index: 1;
  }

