/* Import fonts */

@font-face {
  font-family: "Rainy Hearts";
  src: url("../fonts/rainyhearts.woff2") format("woff2");
}
@font-face {
  font-family: "Archivo Regular";
  src: url("../fonts/Archivo-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Archivo Black";
  src: url("../fonts/ArchivoBlack-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Archivo Semibold";
  src: url("../fonts/Archivo-SemiBold.woff2") format("woff2");
}

/*  big screen */
@media screen and (max-width: 10000px) {
  *:hover {
    pointer-events: all;
  }
  p {
    font-size: 1.2rem;
  }
  #mountain {
    height: 100%;
    width: 100%;
  }
  .circle,
  .circle2,
  .circle3 {
    width: 50vw;
    height: 80vh;
    top: 20vh;
    z-index: -1;
    border-radius: 50%;
    filter: blur(20px);
    opacity: 30%;
    background: radial-gradient(
      circle,
      rgba(169, 36, 155, 0.538) 18%,
      rgba(238, 184, 83, 0.636) 73%,
      rgba(208, 199, 134, 0.647) 61%
    );
  }
  .circle {
    margin-left: 25vw;
  }
}
/* medium screen*/
@media screen and (max-width: 1000px) {
  .content-to-hide {
    display: none;
  }
  #mountain {
    height: 100%;
  }
  .circle {
    width: 300px;
    height: 400px;
    margin-left: 300px;
  }
}

/* small screen */

@media screen and (max-width: 600px) {
  #bootstrap-overrides .container-lg {
    width: 100%;
  }
  #bootstrap-overrides .container {
    width: 100%;
  }
  .card {
    width: fit-content;
  }
  .container-lg * :hover {
    pointer-events: none !important;
  }
  .circle {
    width: 300px;
    height: 400px;
    margin-left: 15vw;
  }
}
#headerBG {
  width: 100%;
  height: 100vh;
  z-index: -2;
}
#headerBG:after {
  content: "";
  background-image: url(/assets/img/noise.webp);
  height: 300%;
  width: 300%;
  position: fixed;
  z-index: 5;
  opacity: 5%;
  animation: animateGrain 10s steps(8) infinite;
}
#mesh {
  width: 2000px;
  top: 0;
  margin-right: 600px;
}

@keyframes animateGrain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, -20%);
  }
  30% {
    transform: translate(-5%, -10%);
  }
  40% {
    transform: translate(-15%, -20%);
  }

  50% {
    transform: translate(-5%, -10%);
  }
  60% {
    transform: translate(-15%, -20%);
  }
  70% {
    transform: translate(-5%, -10%);
  }
  80% {
    transform: translate(-15%, -20%);
  }
  90% {
    transform: translate(-5%, -10%);
  }
  100% {
    transform: translate(-15%, -20%);
  }
}
/* my colors */
:root {
  --dark: #101010;
  --light: #f2f0f3;
  --orange: #ff6040;
  --bg: #1e1222;
  --purple: #942bd6;
}
.darkBg {
  background-color: var(--bg);
}
.spanBorder {
  border: 1px solid var(--light);
  padding: 5px;
}
.spanBorder:hover {
  border: 1px solid var(--orange);
}
.linkUnstyled{
  text-decoration: none;
}
.shadow {
  box-shadow: 1px 10px 10px rgba(160, 160, 160, 0.26);
}
/* class to align items center */
.align-items-center {
  display: flex;
  flex-direction: column;
  align-items: center; /*Aligns vertically center */
  justify-content: center; /*Aligns horizontally center */
}

/* darkmode button */
.checkbox-label {
  background-color: var(--dark);
  outline: var(--light) solid 2px;
  width: 25px;
  height: 25px;
  align-items: center;
  transition: 0s !important;
}
.checkbox-label:hover {
  box-shadow: rgba(255, 255, 255, 0.469) 1px 1px 20px;
}
.checkbox {
  opacity: 0;
  position: absolute;
}
#half-circle {
  width: 12.5px;
  height: 25px;
  border-radius: 150px 0 0 150px;
  background-color: var(--light);
  left: 0;
  transition: 0s !important;
}
.checkbox:checked + .checkbox-label #half-circle {
  transform: translateX(12.5px) rotateY(180deg);
}
/* sets transition for all  */
*:not(body) {
  transition: all 0.1s linear;
}

/* top button */
#topBtn {
  width: 60px;
  display: none;
  background-color: var(--light);
  border: 0px;
  z-index: 10;
  height: 50px;
  border-radius: 50px 0px 0px 0px;
}
#bootstrap-overrides .body {
  margin: 0;
  overflow-y: scroll;
  background-color: var(--bg) !important;
}
.customBG {
  background-color: rgba(0, 0, 0, 0.786);
  backdrop-filter: blur(10px);
}
.customBorder {
  border: rgba(255, 255, 255, 0.389) 1px solid;
}
.mountain {
  filter: blur(0px);
  position: absolute;
  image-rendering: optimizeSpeed;
}
.button{
  font-family: "Archivo Regular", sans-serif;
  transition:background-color 0.1s linear;
}
/* navbar */
.navbar-nav {
  float: right;
}
nav {
  z-index: 5;
  backdrop-filter: blur(30px);
}
.link {
  text-decoration: none;
  font-family: "Archivo Regular", sans-serif;
  font-size: 1.2rem;
  color: var(--light);
  display: block;
  padding: 10px;
  margin-left: 10px;
  width: fit-content;
}
.logo {
  font-size: 1.5rem;
  width: 80px;
  filter: invert(1);
}
.nav-item {
  width: fit-content;
}
.navbar-expand-lg .navbar-collapse {
  justify-content: right;
}
#bootstrap-overrides .link:hover {
  color: var(--orange);
  text-decoration: underline 1px var(--orange);
}
.navbar-toggler-icon {
  filter: invert(1);
}

/* footer */

footer {
  height: 300px;
  margin-top: auto;
}
.contact {
  width: fit-content;
}
.footerArrow {
  width: 20px;
  filter: invert(1);
}
.chat {
  color: var(--light);
  text-decoration: none;
  font-size: 2rem;
}
.chat:hover {
  color: var(--light);
  text-decoration: underline 1px var(--light);
}

/* darkmode */
body.DarkToLight h1,
body.DarkToLight h2,
body.DarkToLight h3,
body.DarkToLight h4,
body.DarkToLight h5,
body.DarkToLight h6,
body.DarkToLight p {
  color: var(--dark);
}

body.DarkToLight {
  background-color: var(--light);
}
body.DarkToLight .link {
  color: var(--dark);
}
body.DarkToLight #bootstrap-overrides a {
  color: var(--dark);
}
body.DarkToLight .logo,
body.DarkToLight .footerArrow {
  filter: invert(0);
}
body.DarkToLight .customBG {
  background-color: rgba(255, 255, 255, 0.669);
}
body.DarkToLight .chat {
  color: var(--dark);
}
body.DarkToLight .chat:hover {
  color: var(--dark);
  text-decoration: underline 2px var(--dark);
}
body.DarkToLight .checkbox-label {
  outline: var(--dark) 2px solid;
  transition: 0s !important;
  background-color: var(--light);
}
body.DarkToLight .spanBorder {
  border: 1px solid #1717175d;
}
body.DarkToLight .spanBorder:hover {
  border: 1px solid var(--orange);
}
body.DarkToLight .customBorder {
  border: #1717175d 1px solid;
}

body.DarkToLight #half-circle {
  background-color: var(--dark);
  transition: 0s !important;
}
body.DarkToLight .circle,
body.DarkToLight .circle2 body.DarkToLight .circle3 {
  background: radial-gradient(
    circle,
    rgba(242, 255, 186, 0.538) 50%,
    rgba(255, 55, 0, 0.614) 70%,
    rgba(255, 0, 0, 0.647) 61%
  );
}
body.DarkToLight .navbar-toggler-icon {
  filter: invert(0);
}

/* animations */

.upArrow:hover {
  transform: rotate(-20deg);
}

/* Skew */
.hvr-skew {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-skew:hover,
.hvr-skew:focus,
.hvr-skew:active {
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
}
/* float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* TEXT STYLES */
h1,
h2,
h3,
h4,
blockquote,
li,
p {
  color: var(--light);
  font-family: "Archivo Regular";
  cursor: default;
}
p{
  height: fit-content;
}
h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}
#bootstrap-overrides h2 {
  font-size: 2rem;
}
#bootstrap-overrides h3,
#bootstrap-overrides h4 {
  font-size: 1.8rem;
}
.headline {
  font-family: "Archivo Black", sans-serif;
}
.cursive {
  font-family: "Libre Baskerville", serif;
  font-style: italic;
}
.mono {
  font-family: "Rainy Hearts", sans-serif;
  font-size: 1.3rem;
}
#bootstrap-overrides .accordion-body {
  color: var(--dark);
  font-family: "Archivo";
}


.linear {
  animation: grow 10s ease-in-out infinite;
}
@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
