/* BENTO STYLES */
.bento2 {
    max-height: 300px;
}

.bento3 {
    max-height: 300px;
    background-size: cover;
    background-position: bottom;
    background-image: url(src/assets/img/bento4.webp);
}

.progBlur {
    width: 100%;
    content: "";
    filter: saturate(2);
    height: 100%;
    backdrop-filter: blur(8px);
    mask-image: linear-gradient(
        to top right,
        rgb(255, 0, 0) 10%,
        rgba(0, 0, 0, 1) 24%,
        rgba(0, 0, 0, 0) 100%
    );
    -webkit-mask-image: linear-gradient(
        to top right,
        rgb(255, 0, 0) 10%,
        rgba(0, 0, 0, 1) 24%,
        rgba(0, 0, 0, 0) 100%
    );
}
.progBlurLeft {
    width: 100%;
    content: "";
    height: 100%;
    backdrop-filter: blur(4px);
    mask-image: linear-gradient(
        to top left,
        rgb(255, 255, 255) 10%,
        rgb(255, 255, 255) 24%,
        rgba(255, 255, 255, 0) 100%
    );
    -webkit-mask-image: linear-gradient(
        to top left,
        rgb(255, 255, 255) 10%,
        rgba(0, 0, 0, 1) 24%,
        rgba(0, 0, 0, 0) 100%
    );
}

.bento4 {
    max-height: 300px;
    height: 300px;
    width: 100%;
}
.bentoCircle {
    height: 180px;
    width: 180px;
    opacity: 70%;
    z-index: 0;
    filter: blur(40px);
    border-radius: 100%;
    animation: grow 6s infinite ease-in-out;
}

/* BENTO STYLES END */

/* TOOLBOX STYLES */
.list {
    display: inline;
    width: 80%;
}

.right-box {
    height: fit-content;
    overflow: hidden;
    align-self: center;
}

.tag {
    font-family: "Rainy Hearts";
    font-size: 1.5rem;
}

.tag:hover {
    color: var(--orange);
}

.techLogo {
    width: 50px;
}

.tech {
    width: 80px;
    height: 80px;
    font-size: 1.25rem;
    display: inline-block;
}

.textDeco {
    margin-left: 10vh;
}

.textDecoLeft {
    margin-right: 10vh;
}
/* TOOLBOX STYLES END */

/* CASE STYLES */
.projects {
    height: fit-content;
}

.case {
    height: fit-content;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: center;
}

.flex2 {
    border-left: 0;
    border-right: 0;
}

.proj {
    height: 200px;
}

.flex2:hover:before {
    opacity: 0;
}

section {
    height: fit-content;
    margin-bottom: 60px;
}

.teaser {
    height: 180px;
}

/* CASE STYLES END */
